@model IEnumerable<BirthdayManager.Models.Person>

@{
    ViewData["Title"] = "Index";
}


    <h1>Today's Birthdays</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Birth date
            </th>
            <th>
                Age
            </th>
            <th>
                Operation
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            DateTime today = DateTime.Now.Date;
            DateTime birthday = new DateTime(today.Year, item.Birthdate.Month, item.Birthdate.Day);

            if (today == birthday)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>Birthday List</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Birth date
            </th>
            <th>
                Age
            </th>
            <th>
                Operation
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>